# Trumf
TRUMF_TOKEN="din_trumf_cookie_token_her"

# Firefly III
FIREFLY_INSTANCE_URL=http://din_firefly_ip:8080
FIREFLY_PAT=ditt_personal_access_token_her
FIREFLY_ASSET_ACCOUNT="Navnet på bankkontoen din i Firefly"

# Lokal LLM (Ollama)
LOCAL_LLM_URL=http://din_ollama_ip:11434/v1
LOCAL_LLM_MODEL=llama3
OPENAI_API_KEY=ollama
